<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="phpunit.xsd" bootstrap="vendor/autoload.php" cacheResult="true" verbose="true">
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">tests</directory>
      <exclude>
        <directory suffix=".php">src/Mock/WordPress</directory>
      </exclude>
    </whitelist>
  </filter>
  <!--php>
    <const name="PHPUNIT_TESTSUITE" value="true"/>
  </php-->
  <logging>
    <log type="coverage-text" target="php://stdout"/>
    <!--log type="testdox-text" target="php://stdout"/-->
  </logging>
</phpunit>
